#main
{
    width: 100%
}
#left
{
    float: left;
    width: 25%;
}
#right
{
    float: left;
    width:75%;
    height: 770px;
    
}
#form
{
    margin-top: 150px;
    text-align: -webkit-center;
    font-style: italic;
    font-size: 50px;
    color: aquamarine;
}
#button
{
    margin-left: 540px;
    margin-top: 120spx;
}
nav
{
    height: 900px;;
    background:rgb(6, 22, 37);
    border-radius: 5px;
}
ul {
    list-style-type: none;
  }
li a
{
    text-decoration: none;
    font-size: 36px;
    color: white;
}
a:hover
{
    background:whitesmoke;
    color: black;
    border-radius: 10px;
}
body
{
    background: black;
}
h1
{
    text-decoration-style: dotted;
    font: large;
    color:silver;
}
#Address
{
    height: 55px;
    width: 335px;
}
#Message
{
    height: 55px;
    width: 335px;
}
#Email
{
    height: 55px;
    width: 335px;
}
#Name
{
    height: 55px;
    width: 335px;
}
#contact
{
    text-align: center;
    font-style: initial;
    font-size: -webkit-xxx-large;
    color: darkorchid;
    margin-top: 90px;
}